:root {
  --primary-color: #f6f9fa;
  --secondary-color: #1f3368;
  --tertiary-color: rgb(97, 136, 161);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  font-size: 20px;
}

/* navigation */
nav {
  background-color: transparent;
  box-shadow: none;
}

nav ul a {
  font-size: 25px;
}

/* heading */
html {
  scroll-padding-top: 60px; /* height of sticky header */
}

h1 {
  font-family: Bradley Hand, cursive;
  font-size: 50px;
  color: white;
}

header {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header a {
  text-decoration: underline;
  color: var(--primary-color);
}

p {
  text-align: center;
  color: white;
  font-family: Bradley Hand, cursive;
}

.carousel {
  background-color: rgba(97, 136, 161, 0.5);
  color: white;
  text-shadow: 1px 1px black;
  /* max-width: 90%; */
  margin: 0 auto;
  font-family: Bradley Hand, cursive;
}

.card {
  margin: 0 0 20px 0;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
}

/* footer */
#continent {
  display: block;
  text-align: center;
}

a {
  padding: 20px 20px;
}

a:hover {
  font-size: 20px;
}

.cont:hover {
  color: var(--secondary-color);
  font-size-adjust: 20px;
  text-decoration: underline var(--tertiary-color);
  border-radius: 10px;
  text-shadow: none;
}
